table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#svg_cfp {
  height: 20px;
  padding: 10 10;
}

#cfp_show_nonce_error_message {
  color: red
}
